.box {
    background-color: #f0f0f0;
    padding: 20px;
    /* 박스 안쪽 여백: 20px */
    margin: 15px 0;
    /* 박스 바깥 여백: 위/아래 15px, 좌/우 0px */
    border-radius: 5px;
    border: 2px solid #007bff;
    font-weight: bold;
    text-align: left;
}

table {
    width: 100%;
    /* box에서 차지하는 비율 */
    border-collapse: collapse;
    /* 표 테두리 border-: 결합 collapse, 분리 separate */
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    /* 셀 테두리: 1px */
    padding: 10px;
    /* 셀 안쪽여백: 10px */
    text-align: center;
}

th {
    /* 제목 색 설정 */
    background-color: #007bff;
    color: white;
}

form {
    display: flex;
    /* 간격조정: 활성화 */
    flex-direction: column;
    /* 배치: 세로방향 */
}

label {
    margin: 10px 0 5 px;
    color: #444444;
    font-weight: 500;
    /* 굵기: 100~900 */
}

/* 입력 type이 text와 email에 적용 */
input[type="text"],
input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    /* (browser basic) 1rem */
}

.custom-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4a90ea;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}