.box {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    border: 2px solid #007bff;
    font-weight: bold;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #444444;
    font-weight: 500;
}

input[type="text"]
input[type="email"] {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
}

.costum-button {
    margin-top: 20px;
    padding: 12px;
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}